<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
{%block meta %}

<meta charset="UTF-8" />

<meta name="description" content="funny pictures and funny jokes and funny animated gifs and alot of flash games comedy pictures and funny jokes and funny animated gifs and alot of flash games">
<meta name="keywords" content="funniest thing,funniest thing ever,funniest thing on the internet,funniest things to ask siri,funniest thing in the world,funniest things to say,funniest things to say to siri,funniest things on youtube,funniest things,funniest thing ever said,funniest things to do,funniest things on google maps,funniest thing to say to a girl,funniest thing on earth,funniest things sold on ebay,funniest things to follow on twitter,funniest things on netflix,funniest thing in the world try not to laugh,funniest things on tumblr,funniest thing alive,funniest thing a kid has said,funniest thing a drunk person said,funniest thing all day,funniest thing at work,funniest thing about me,funniest thing a child has said,funniest thing about this shirt,funniest thing ask siri,funniest thing about facebook,funny thing about my back,funny thing about love lyrics,funny thing about love,funny thing about life,funny thing about life quotes,funny thing about love quotes,funny thing about facebook,funny thing about me,funny thing about love lauren alaina,funny thing about that is i was ready to give you my name+lyrics,funniest thing butters ever said,funniest thing blog,funny thing but you can sing it with a cry in your voice,funny thing but true,funny bad thing,funniest thing to buy at walmart,funny thing to buy on ebay,funny thing to buy online,funny thing buy,funny birthday thing to say,funniest thing to buy on ebay,funny thing to be scared of,funny thing about being smart community,funny thing baby do,funny thing birthday card,funny birthday thing,funny barcode thing,funny blue thing,funny bone thing,funniest thing to be arrested for,funniest thing caught on camera,funniest thing caught on google maps,funniest thing cartman ever saw,funniest thing come dine with me,funniest thing child has said,funniest thing caught on tape,funny thing called love,funny thing chords,funny thing coming home,funny cute thing to say to your boyfriend,funniest thing to call someone,funny thing caught on google maps,funny thing caught on camera,funny thing cats do,funny thing called life,funny thing common sense,funny thing caught on google street view,funny thing caught on google earth,funny thing cast,funniest thing drake,funniest thing done to a dog,funniest thing done to a dog video,funniest thing done when drunk,funniest thing dog,funniest thing you did,funniest thing to do while high,funniest thing to do on runescape,funny thing download,funny thing do school,funny thing do,funniest thing to do in skyrim,funniest thing to do in gta 5,funniest thing to do in vegas,funniest thing to do when high,funniest thing to do in class,funniest thing to do on the internet,funniest thing to do in gta 4,funny thing dogs do,funny thing dinah washington,funniest thing ever on the internet,funniest thing ever written,funniest thing ever happened to you,funniest thing ever heard,funniest thing ever happened me,funniest thing ever happened,funniest thing ever reddit,funniest thing ever hilarious,funniest thing ever seen,funniest thing ever youtube,funniest thing ever said on facebook,funniest thing ever try not to laugh,funniest thing ever to say,funniest thing ever googled,funniest thing ever in minecraft,funniest thing ever tumblr,funniest thing ever done,funniest thing ever caught on tape,funniest thing for facebook,funny thing for facebook,funny thing for facebook post,funny thing for siri to say,funny thing for siri,funny thing for the day,funny thing for google translate,funny thing for me,funny thing happened forum,funniest thing to say on facebook,funny thing forum,funny thing forum melbourne,funniest thing google maps,funniest thing gta 5,funniest thing googled,funniest thing gta v,funny thing google map,funny thing about germany,funny thing google street view,funny thing google earth,funny thing google translate,funny thing google,funny thing gta 5,funny thing gone wrong,funniest thing on google earth,funniest thing on google maps street view,funniest thing say girl,funny thing on google maps street view,funny thing to give up for lent,funny thing happened geoffrey rush,funny thing google does,funny thing george bush said,funniest thing happened at work,funniest thing happened to me,funniest thing happened in my life,funniest thing happened to you,funniest thing happened,funniest thing high,funny thing happened on the way to the forum,funny thing happened on the way to thor's hammer,funny thing happened on the way to the moon,funny thing happened on the way to the forum melbourne,funny thing happened on the way to the forum movie,funny thing happened on the way to the forum dc,funny thing happened on the way to heaven,funny thing happened on the way to the forum songs,funny thing happened to me,funny thing happened on the way,funny thing happened melbourne,funny thing happened on the way to the forum review,funny thing happened on the way to the forum quotes,funniest thing i've ever seen,funniest thing i ever saw,funniest thing i ever heard,funniest thing in the internet,funniest thing i've heard all day,funniest thing in the world video,funniest thing i ever read,funniest thing i've ever read,funniest thing i've ever heard,funniest thing in the news today,funniest thing in netflix,funniest thing i've seen all day,funniest thing in destiny,funniest thing in the whole world,funniest thing in minecraft,funniest thing in history,funniest thing i saw today,funniest thing in the world to say,funniest thing just happened,funny japanese thing,funny thing about jokes the uses and dangers of humour,funny little thing joanna newsom,funny thing jokes,funny thing jolie-pitt kid said to mom and dad,funny thing jealousy chapter 6 a naruto fanfic,funny thing jealousy chapter 2 a naruto fanfic,funny thing jealousy chapter 14 a naruto fanfic,funny thing jesus said,funny thing jealousy sasusaku,funny thing jealousy chapter 8 a naruto fanfic,funny thing jealousy chapter 4 a naruto fanfic,funny thing jealousy chapter 11 a naruto fanfic,funny thing jealousy chapter 5 a naruto fanfic,funny thing jealousy chapter 12 a naruto fanfic,funny thing jealousy chapter 13 a naruto fanfic,funny thing jealousy chapter 9 a naruto fanfic,funny jesus thing lol,funniest thing since jokes,funniest thing kid said,funniest thing known to man,funniest thing karl pilkington has ever said,funniest thing kevin hart said,funny thing to know,funny thing about karma,funny thing killing a man,funniest thing your kid ever said,funniest thing your kid has said,funniest thing my kid said,funniest thing your kid has done,funny thing lyrics reigning sound,funny thing lyrics,funny thing life quotes,funny thing lyrics travis,funny thing life,funny thing love quotes,funny little thing called love,funniest thing i have done in minecraft,funniest thing i've seen in years,funniest thing you ll ever see,funniest thing must see,funniest thing my friend said,funniest thing minecraft,funny thing movie,funny thing meaning,funny mii thing,funny thing in minecraft,funniest thing ever happened me essay,funny thing magic,funny thing melbourne,funny thing musical,funny thing moon,funny thing my dad says,funny thing mti,funny thing my back superbad,funny thing my boyfriend says,funniest thing never said,funny thing about new zealand,funniest thing to do in nyc,funniest thing you never said,funniest thing you never said pdf,funniest thing on net,funniest thing on youtube right now,funniest thing on internet right now,funny thing names,funny nice thing to say to a girl,funny new thing,funniest thing on netflix,funniest thing on netflix streaming,funniest thing you never said 2,funniest thing right now,funniest thing on netflix instant,funniest thing on netflix canada,funny thing forum nathan lane,funny thing to name your ipod,funny thing to name your car,funniest thing on youtube,funniest thing on the internet today,funniest thing on the web,funniest thing on youtube 2012,funniest thing on facebook,funniest thing on google maps,funniest thing online,funniest thing on the internet ever,funniest thing of the day,funniest thing on tumblr,funniest thing on reddit,funniest thing on the net,funniest thing on scribblenauts,funniest thing on 4chan,funniest thing on the internet reddit,funniest thing put on facebook,funniest thing photos,funny thing parents text,funny thing parents say,funny thing penguin prison,funny thing post facebook,funniest thing to post on facebook,funny thing to put on twitter,funny thing to post on friend's facebook,funny thing pictures,funny thing pic,funny things prince philip has said,funny private thing to admit,funniest thing ever posted on facebook,funniest thing to put on your facebook status,the funniest thing quotes,funny thing quotes,funny thing is quotes,funniest thing ever quotes,funny thing happened quotes,funny sweetest thing quotes,funniest thing ever said quote,funniest thing reddit,funny thing reigning sound lyrics,funny thing reigning sound,funny random thing to say,funny random thing to do,funny thing to read,funny thing geoffrey rush,funniest thing i've read,funny thing reigning sound chords,funny thing rush,funniest random thing to say,funniest random thing to say to someone,funny random thing to text,funny random thing to say to your friend,funny random thing,funny random thing to say on facebook,funniest things ever,funniest things to do in class,funniest things in the world,funniest things on the internet,funniest things on facebook,funniest things on google earth,funniest things to say on facebook,funniest things to watch on youtube,funniest things to do in public,funniest thing said ever,funniest things animals do,funniest things cats do,funniest thing to ask siri,funniest thing to say,funniest thing today,funniest thing that ever happened to you,funniest thing to say to siri,funniest thing that happened today,funniest thing to watch high,funniest thing to watch on netflix,funniest thing to say ever,funniest thing to text someone,funniest thing that ever happened,funniest thing to buy on amazon,funniest thing to google,funniest thing to say on tinder,funniest thing to draw,funniest thing to watch,funniest thing to be for halloween,funniest thing u can say,funniest thing u ever saw,funniest thing u ever did,funniest thing u ever heard,funniest thing on urban dictionary,funniest thing in the universe,funniest thing to give up for lent,funniest thing to look up on urban dictionary,funniest thing to dress up as,funniest thing to wake up to,funniest thing to look up on youtube,funniest thing to cheer someone up,funniest thing you ve ever seen,the funniest thing you've ever done,funniest thing you've ever seen from really far away,funniest thing i've ever seen done to a dog,reddit funniest thing you've seen,funny thing video,funniest thing you ve ever heard,funniest thing i've ever done,funniest thing i ve heard all day,funniest thing i ve ever seen on facebook,funniest thing ever video,funniest thing you've ever read,funniest thing you've done drunk,funniest thing with darrell and ed,funniest thing when high,funniest thing with siri,funniest thing world,funniest thing watch youtube,funniest thing while high,funny thing when your high,funny thing when i look into your eyes,funny thing with siri,funny thing with emoji,funny thing with google,funny thing was,funny thing when i look into your eyes lyrics,funny thing with google translate,funniest thing to watch when high,funniest thing on web,funny thing to write on facebook,funny thing to write in a wedding card,funniest thing on x factor,funniest thing to say on xbox live,funniest thing you heard on xbox live,funniest thing you've ever seen,funniest thing you ever heard,funniest thing you will ever see,funniest thing you'll see today,funniest thing you ever seen,funniest thing you ever saw,funniest thing you've ever seen reddit,funniest thing you'll ever read,funniest thing you can ask siri,funniest thing your child has ever said,funniest thing you've done high,funniest thing you've ever done,funniest thing youtube,funniest thing you've heard reddit,funniest thing ever on facebook,funniest thing ever a must see,funniest thing ever happened at work,funniest thing that ever happened to you at work,funniest thing i ever saw done to a dog,funniest things ever asked on yahoo,funniest thing anyone ever said,funniest things anybody ever said,funniest thing ever to ask siri,funniest thing ever yahoo answers,funniest thing ever done to a dog,funniest thing ever said to a girl,funniest thing ever done to a dog youtube,the absolute funniest thing ever,funniest thing you've ever heard yahoo answers,funniest thing a kid ever said,funniest thing that ever happened to you at school,funniest thing you ve ever seen yahoo answers,funniest thing that ever happened to me at work,funniest thing a kid has ever said to you,funniest things ever to be posted on facebook,funniest things ever to be said,funniest things ever said in court,funniest thing ever done in minecraft,funniest thing you ever seen drunk in convenience store,funniest thing you ever did,funniest thing ever sold ebay,funniest thing ever happened to me,funniest thing that has ever happened to you,what is the funniest thing you've ever seen,funniest thing ever in the world,funniest thing ever in gta 5,funniest thing ever in life,what is the funniest thing ever said,funniest things ever invented,funniest thing i ever seen,funniest thing i ever did,funniest thing i ever heard lyrics,funniest thing ever joke">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

{% endblock %}
{% block title %}
<title>The Funniest Stuffs</title>
{% endblock %}
<!-- Favicon 
<link rel="shortcut icon" href="favicon.png" />
-->
<!-- Fonts -->
<!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700" />-->

<!-- Stylesheets -->
<link rel='stylesheet' href='/css/flexslider.css' type='text/css' media='all' />
<link rel='stylesheet' href='/css/jquery.fancybox-1.3.4.css' type='text/css' media='all' />
<link rel='stylesheet' href='/css/epicslider.css' type='text/css' media='all' />
<link rel='stylesheet' href='/css/style.css' type='text/css' media='all' />
<link rel='stylesheet' href='/css/udt_shortcodes.css' type='text/css' media='all' />
<link rel='stylesheet' href='/css/skin.css' type='text/css' media='all' />
<link rel='stylesheet' href='/css/udt_media_queries.css' type='text/css' media='all' />
<style type="text/css">body p{font-size: 1.22em; color: white}</style>
<!-- Scripts -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type='text/javascript' src='/js/jquery-1.11.0.min.js'></script>
<script type='text/javascript' src='/js/jquery-migrate-1.2.1.min.js'></script>

</head>
<body class="page">

	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '946302272111221',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Header -->
<div id="header-wrapper">

	<div id="header-inner">
		<header>
			<!-- Logo -->
			<div id="logo">
				<a href="/" title="thefunnieststuffs">
					<img width="170px" src="/images/logo.png" alt="Raw HTML Template Demo White">
				</a>
			</div>

			<!-- Mobile Menu Toggle -->
			<div class="mobile-menu-toggle"><a href=""></a></div>

			<!-- Navigation -->
			<nav id="primary-nav">
				<div class="menu-container">
					{% block leftsidemenu%}{% endblock %}
					
				</div>
			</nav>

		</header>
		<div style="clear:both;"></div>
	</div>

	<div style="clear:both;"></div>

	<div class="header-widget-box">
		<div class="header-outer-widget-wrapper">
			<div style="clear:both;">

					<div class="fb-page" data-href="https://www.facebook.com/thefunnieststuffs" data-width="200" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/thefunnieststuffs"><a href="https://www.facebook.com/thefunnieststuffs">The Funniest Stuffs</a></blockquote></div></div>
				
			</div>
			<div class="header-widget-wrapper">
				<ul>
					<li class="widget widget_search">
					<form role="search" method="get" id="searchform" action="#">
						<input type="text" placeholder="Search" name="s" id="s" class="sidebar-searchform">
						<input type="submit" id="searchsubmit" class="submit submitTheme submitSmall" value="Go">
					</form>
					</li>
					
				</ul>
			</div>
			
			
			

			<ul class="connect black">
				<li><a href="#" title="500px" class="fivehundredpx">500px</a></li>
				<li><a href="#" title="DeviantArt" class="deviantart">DeviantArt</a></li>
				<li><a href="#" title="Dribbble" class="dribbble">Dribbble</a></li>
				<li><a href="#" title="Facebook" class="facebook">Facebook</a></li>
				<li><a href="#" title="Flickr" class="flickr">Flickr</a></li>
				<li><a href="#" title="LinkedIn" class="linkedin">LinkedIn</a></li>
			</ul>

			<div class="mobile-widget-box-toggle-wrapper">
				<a href="#">Toggle</a>
			</div>
		</div>
	</div>

	<div style="clear:both;"></div>
</div>
<!-- Header End -->

<!-- Content Area -->
<div id="content-wrapper" class="full-width-grid-wrapper">
	
	
		<!-- Portfolio Filter -->
		
		<!-- Portfolio Filter End -->

		<!-- Portfolio Index Grid -->
		{% block content %}
		
		{% endblock %}
		<!-- Portfolio Index Grid End -->

	</section>
	
</div>
<!-- Content Area End -->

<!-- This layout has no footer -->

<!-- Scripts -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70021270-1', 'auto');
  ga('send', 'pageview');

</script>
<script type='text/javascript' src='/js/jquery.ui.core.min.js'></script>
<script type='text/javascript' src='/js/jquery.easing.1.3.js'></script>
<script type='text/javascript' src='/js/jquery.fancybox-1.3.4.pack.js'></script>
<script type='text/javascript' src='/js/jquery.epicHover-fadeZoom.js'></script>
<script type='text/javascript' src='/js/jquery.epicslider.js'></script>
<script type='text/javascript' src='/js/jquery.flexslider-min-edited.js'></script>
<script type='text/javascript' src='/js/jquery.mobile-touch-swipe-1.0.js'></script>
<script type='text/javascript' src='/js/settings.js'></script>
<script type='text/javascript' src='/js/common.js'></script>
<script type='text/javascript' src='/js/udt_shortcodes.js'></script>
<!--<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?sensor=false'></script>-->
<script type='text/javascript' src='/js/contact.js'></script>
</body>
</html>
