<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
{%block meta %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}
{% block title %}
<title>The Funniest Stuffs</title>
{% endblock %}
<!-- Favicon 
<link rel="shortcut icon" href="favicon.png" />
-->
<!-- Fonts -->
<!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700" />-->

<!-- Stylesheets -->
<link rel='stylesheet' href='/css/flexslider.css' type='text/css' media='all' />
<link rel='stylesheet' href='/css/jquery.fancybox-1.3.4.css' type='text/css' media='all' />
<link rel='stylesheet' href='/css/epicslider.css' type='text/css' media='all' />
<link rel='stylesheet' href='/css/style.css' type='text/css' media='all' />
<link rel='stylesheet' href='/css/udt_shortcodes.css' type='text/css' media='all' />
<link rel='stylesheet' href='/css/skin.css' type='text/css' media='all' />
<link rel='stylesheet' href='/css/udt_media_queries.css' type='text/css' media='all' />
<style type="text/css">body p{font-size: 1.22em; color: white}</style>
<!-- Scripts -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type='text/javascript' src='/js/jquery-1.11.0.min.js'></script>
<script type='text/javascript' src='/js/jquery-migrate-1.2.1.min.js'></script>

</head>
<body class="page">

<!-- Header -->
<div id="header-wrapper">

	<div id="header-inner">
		<header>
			<!-- Logo -->
			<div id="logo">
				<a href="/" title="thefunnieststuffs">
					<img width="170px" src="/images/logo.png" alt="Raw HTML Template Demo White">
				</a>
			</div>

			<!-- Mobile Menu Toggle -->
			<div class="mobile-menu-toggle"><a href=""></a></div>

			<!-- Navigation -->
			<nav id="primary-nav">
				<div class="menu-container">
					{% block leftsidemenu%}{% endblock %}
					
				</div>
			</nav>

		</header>
		<div style="clear:both;"></div>
	</div>

	<div style="clear:both;"></div>

	<div class="header-widget-box">
		<div class="header-outer-widget-wrapper">
			<div class="header-widget-wrapper">
				<ul>
					<li class="widget widget_search">
					<form role="search" method="get" id="searchform" action="#">
						<input type="text" placeholder="Search" name="s" id="s" class="sidebar-searchform">
						<input type="submit" id="searchsubmit" class="submit submitTheme submitSmall" value="Go">
					</form>
					</li>
					
				</ul>
			</div>
			
			<ul class="connect black">
				<li><a href="#" title="500px" class="fivehundredpx">500px</a></li>
				<li><a href="#" title="DeviantArt" class="deviantart">DeviantArt</a></li>
				<li><a href="#" title="Dribbble" class="dribbble">Dribbble</a></li>
				<li><a href="#" title="Facebook" class="facebook">Facebook</a></li>
				<li><a href="#" title="Flickr" class="flickr">Flickr</a></li>
				<li><a href="#" title="LinkedIn" class="linkedin">LinkedIn</a></li>
			</ul>
			<div style="clear:both;"></div>

			<div class="mobile-widget-box-toggle-wrapper">
				<a href="#">Toggle</a>
			</div>
		</div>
	</div>

	<div style="clear:both;"></div>
</div>
<!-- Header End -->

<!-- Content Area -->
<div id="content-wrapper" class="full-width-grid-wrapper">
	
	
		<!-- Portfolio Filter -->
		
		<!-- Portfolio Filter End -->

		<!-- Portfolio Index Grid -->
		{% block content %}
		
		{% endblock %}
		<!-- Portfolio Index Grid End -->

	</section>
	
</div>
<!-- Content Area End -->

<!-- This layout has no footer -->

<!-- Scripts -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70021270-1', 'auto');
  ga('send', 'pageview');

</script>
<script type='text/javascript' src='/js/jquery.ui.core.min.js'></script>
<script type='text/javascript' src='/js/jquery.easing.1.3.js'></script>
<script type='text/javascript' src='/js/jquery.fancybox-1.3.4.pack.js'></script>
<script type='text/javascript' src='/js/jquery.epicHover-fadeZoom.js'></script>
<script type='text/javascript' src='/js/jquery.epicslider.js'></script>
<script type='text/javascript' src='/js/jquery.flexslider-min-edited.js'></script>
<script type='text/javascript' src='/js/jquery.mobile-touch-swipe-1.0.js'></script>
<script type='text/javascript' src='/js/settings.js'></script>
<script type='text/javascript' src='/js/common.js'></script>
<script type='text/javascript' src='/js/udt_shortcodes.js'></script>
<!--<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?sensor=false'></script>-->
<script type='text/javascript' src='/js/contact.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
</body>
</html>
